{% extends "layout.njk" %}

{% block content %}

  {% block header%}
    <title>Sobre - Hnr Solutions Inc.</title>
    <link rel="stylesheet" href="/styles.css">
  {%endblock%}

    <div id="wrapper">
      <img src="https://avatars3.githubusercontent.com/u/10758693?s=460&u=513aecdd65d6af04f6d4f10c4255a8626d288c19&v=4" alt="Foto do Benivaldo">
      <h1>Benivaldo Honório</h1>
      <h2>Desenvolvedor Junior</h2>
      <p>Padawan no Curso Sistemas para Internet na Universidade Estadual de Ciências da Saúde de Alagoas. Fanboy de games em fps e um curioso tecnológico sem limites.
        <a href="https://rocketseat.com.br">Clique aqui</a>
      </p>
    </div>

    <div id="links-footer" class="links">
      <a href="https://www.instagram.com/honoriox/" target="_blank">Instagram</a>
      <a href="https://github.com/benorio" target="_blank">Github</a>
      <a href="https://www.linkedin.com/in/benivaldo-honorio-77635898/" target="_blank">Linkedin</a>
      <a href="/courses" target="_blank" rel="noopener noreferrer">Cursos</a>
    </div>

  {% endblock %}